.menu-logo {
    width: 650px;
    height: auto;
    display: block;
    margin: 20px auto;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    margin: 20px auto;
}

.menu-dev {
    position: fixed;
    bottom: 10px;
    left: 24px;

    font-weight: bold;
    font-size: 20px;
}