.modal {
    position: fixed; // clave
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    pointer-events: none;
    z-index: 9999; // por encima de TODO
}

.modal-content {
    background: rgba(44, 58, 63, 0.95);
    border: 1px solid #FFD166;
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    padding: 20px;
    color: #00E5FF;
    min-width: 300px;
    margin-right: 40px;
    max-width: 300px;
    pointer-events: auto;
}