//documentos SCSS globales y componentes
//global SCSS documents and components

@import "./components/floatingtexts.scss";
@import "./components/juice.scss";
@import "./components/buttons.scss";
@import "./components/modal.scss";
@import "./components/panels.scss";
@import "./components/menu.scss";

html,
body,
#root {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}